
BODY {
    background-color: navy;
    font-family: Helvetica, Arial;
    font-size: 24px;
    color: white;
}

#loading, #player_selection {
    font-size: 36px;
    text-align: center;
    color: white;
    padding: 3em;
}
    

#input_divs,
#main_lengths {
    vertical-align: middle;
    margin-top: 150px;
}

#players {
    text-align: center;
}

.player_section {
    margin: 2px;
    border: 1px solid white;
    display: inline-block;
    padding: 1em;
    vertical-align: top;
}

.input_divs_wrapper {
    display: inline-block;
}

.name_block {
    text-align: left;
    margin-bottom: 1em;
}

.minimize_button {
    font-size: 24px;
    display: inline-block;
}

.name_block input {
    width: 90%;
    font-size: 24px;
    font-style: italic;
    border-width: 0;
}

.length_block {
    display: inline-block;
}

.length_block DIV {
    display: block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.length_block .increase IMG,
.length_block .decrease IMG
{
    width: 100%;
    cursor: pointer;
}

.score, .remaining {
    vertical-align: top;
}

.score {
    font-weight: bold;
}

.additional_points, .total_score {
    display: inline-block;
}

.additional_points INPUT, .additional_points SPAN {
    vertical-align: middle;
}

.additional_points {
    width: 16em;
}

.longest_road_length {
    width: 2em;
    font-size: 20px;
}

.has_longest_road {
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
}

.additional_total {
    display: inline-block;
    width: 48px;
}

.tickets {
    width: 9em;
}

.total_score {
    font-weight: bold;
}

.total_score SPAN {
    font-size: 32px;
}

.remaining.invalid {
    background-color: white;
    color: red;
    border: 1px outset darkgray;
}

.remaining.finished {
    font-weight: bold;
    border: 1px outset darkgray;
}

.invalid {
    background-color: red;
    color: white;
}

.valid {
    background-color: lightgreen;
    color: black;
}

.player_color_red {
    background-color: red;
    color: white;
}

.player_color_green {
    background-color: green;
    color: white;
}

.player_color_blue {
    background-color: blue;
    color: white;
}

.player_color_yellow {
    background-color: yellow;
    color: black;
}

.player_color_black {
    background-color: black;
    color: white;
}

#main_menu {
    text-align:center;
}

.main_menu {
    list-style: none;
    text-align: left;
    display: inline-block;
}

.main_menu LI {
    display: inline-block;
    width: 12em;
    border: 1px solid grey;
    background-color: white;
    border-radius: 7px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
    color: dimgrey;
}

.menu_confirmation {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 3px;
}

.menu_confirmation:hover {
    background-color: #DDF;
    color: black;
}

#testreport, #messages {
    background-color: #004;
    color: lightgreen;
}

#messages {
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}
