
BODY {
    background-color: navy;
    font-family: Helvetica, Arial;
    font-size: 24px;
}

#loading, #player_selection {
    font-size: 36px;
    text-align: center;
    color: white;
    padding: 3em;
}
    

#input_divs,
#main_lengths {
    vertical-align: middle;
    margin-top: 150px;
}

#players {
    text-align: center;
}

.player_section {
    margin: 2px;
    border: 1px solid white;
    display: inline-block;
    padding: 1em;
}

.input_divs_wrapper {
    display: inline-block;
}

.name_block {
    text-align: left;
    margin-bottom: 1em;
}

.name_block input {
    width: 100%;
    font-size: 24px;
    font-style: italic;
    border-width: 0;
}

.length_block {
    display: inline-block;
}

.length_block DIV {
    display: block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.length_block .increase IMG,
.length_block .decrease IMG
{
    width: 100%
}

.score, .remaining {
    vertical-align: top;
}

.score {
    font-weight: bold;
}

.additional_points, .total_score {
    display: inline-block;
}

.additional_points {
    width: 15em;
}

.total_score {
    font-weight: bold;
}

.total_score SPAN {
    font-size: 32px;
}

.invalid {
    background-color: red;
    color: white;
}

.valid {
    background-color: lightgreen;
    color: black;
}

.player_color_red {
    background-color: red;
    color: white;
}

.player_color_green {
    background-color: green;
    color: white;
}

.player_color_blue {
    background-color: blue;
    color: white;
}

.player_color_yellow {
    background-color: yellow;
}

.player_color_black {
    background-color: black;
    color: white;
}

/*
.length_block .increase {
    content:url(images/up.png);
}

.length_block .decrease {
    content:url(images/down.png);
}
*/
